@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{ 
	background-color: #2D6478;
	color:#FFFFFF;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	line-height:1.3;
}

h1{
	text-align: left;
	padding: 2%;
	font-size: 3em;
	display: inline-block;
	font-family: 'Oswald', serif;
}
h2{
	font-size:2em;
	font-family: 'Oswald', serif;
	padding: 2%;
	text-decoration: none;
}
.hero{
	display: block; 
    width: 100%;
    margin: 0;
    background: #2D6478;
}
#logo{
	display: inline-block;
	margin:auto;
	width: 5em;
	vertical-align: middle;
	padding-bottom: 2%;
}

#content {
  float: right ;
  width: 80% ;
  padding: 2%;
}
#navbar {
  float: right;
  width: 20%;
  padding: 2%;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color:#FFFFFF;
  line-height: 2em;

}

p{
	text-align:justify;
	font-size: 1em;	
	padding: 2%;
}

ul {
	padding-left:5%;
	line-height: 1;
	margin: 2em 0;
}

li {
	padding-left: 5%;
}

a{
	font-weight: bold;
	text-decoration: underline;
	color:#FFFFFF;
	padding: 2%;
}

.clear:after{
	clear:both;
	content: "";
	display: block;
}

#rehearsal-footer{
	float: left;
	padding: 2%;
	width: 50%;
}
#contact-links{
	float:right;
	padding: 2%;
	width: 50%;
}
@media screen and (max-width:830px){
	#navbar{
		float: none;
		width: 100%;
	}
	a {
		text-align: center;
		line-height: 2em;
	}
	#content{
		width: 100%;
	}
	.rehearsal-footer{
		display: block;
		float: none;
	}
	#contact-links{
		display: block;
		float:none;
	}
}
